@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
// @import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

// http  : //flatuicolors.com/
@blue    : darken(#7f8c8d, 40%);
@cloud   : #ecf0f1;
@silver  : #bdc3c7;
@pumpkin : #d35400;
@belize  : #2980b9;
@silver  : #bdc3c7;
@turquoise: #1abc9c;

@font-family          : 'Lato', 'Helvetica';
@display-family       : 'Francois One';
@code-font-family     : 'Ubuntu Mono';

@display-font: @display-family;
@normal-font: @font-family;
@code-font: @code-font-family;

/* Absolute measures */
@sidebar-width: 250;

@desktop-content-width  : '(@win-width - @{sidebar-width})';
@desktop-content-offset : '"@{desktop-sidebar-width}"';

@desktop-sidebar-width  : @sidebar-width;
@desktop-sidebar-offset : 0;

@mobile-content-width   : '@win-width';
@mobile-content-offset  : '@showMenu';

@mobile-sidebar-width   : @sidebar-width;
@mobile-sidebar-offset  : '0';



body {
	-dyn-opacity: '@selectFrom([1, 1])';
	transition: opacity 300ms;
}

.site_wrapper {
	// -dyn-width  : '@win-width';
	// -dyn-height : '@win-height';
}


.site_container {
	.border-box();
	.enable-hardware-acceleration();

	-dyn-transform   : '@responsiveTranslateX(@{mobile-content-offset}, @{desktop-content-offset})';
	-dyn-width       : '@selectFrom([@{mobile-content-width}, @{desktop-content-width} ])';
	-dyn-min-height  : '@win-height';
	height           : 100%;
	background-color : white;

	// -dyn-transition  : '"all 500ms"';
	// transform     : @translate-zero;	

	&:extend(.cf);
}


.sidebar {
	-dyn-transform : '@responsiveTranslateX(@{mobile-sidebar-offset}, @{desktop-sidebar-offset})';
	-dyn-width     : '@selectFrom([@{mobile-sidebar-width}, @{desktop-sidebar-width}])';
	-dyn-height    : '@win-height';

	position         : fixed;
	top              : 0px;
	margin           : 0px 0px;
	background-color : @blue;

	.enable-hardware-acceleration();

    .border-box();
	&:extend(.cf);
}

@import 'reset.less';
@import 'mixin.less';
@import 'sidebar.less';
@import 'posts.less';
@import 'post.less';
@import 'publications.less';
@import 'research.less';
@import 'bio.less';
@import 'calendar.less';
@import 'teaching.less';
@import 'projects.less';
@import 'videos.less';

// .post_list {
// 	position       : static;
// 	width          : @post-list-width;
// 	display        : inline-block;
// 	overflow       : scroll;
// 	vertical-align : top;
// 	-dyn-height    : '@win-height';
	
// 	&:extend(.cf);

// }

