.posts_container {
	.border-box();
	display: block;
	-dyn-padding-top: '@selectFrom(["0","3em"])';
}



@title-subtitle-text-spacing: 10px;

.reduce-margins() {
	width: @content-inside-width;
	// max-width: 50em;
	margin-left: (100% - @content-inside-width)/2;
}


.posts_container__post__date {
	.show-desktop-inline-block();
}

.posts_container__post {
	display            : block;
	-dyn-margin-bottom : '@selectFrom(["0em", "3em"])';
	color              : inherit;
	text-decoration    : none;

	&:hover {
		background-color: lighten(@cloud, 5%);
	}

}

@border: 1px fade(darken(@cloud, 50%), 20%) solid;

.posts_container__post__title {
	.show-desktop-block();
	font-family: @font-family;
	font-weight: 500;
	font-size: 2em;
	border-bottom: @border;
	padding-bottom: .2em;
	.smallcaps(black, 300);
	.reduce-margins();
}

.posts_container__post__subtitle {
	.show-desktop-block();
	font-family: @font-family;
	font-weight: 300;
	-dyn-font-size   : '@selectFrom(["1em","1.1em"])';
	line-height: 1.5em;
	margin-top: @title-subtitle-text-spacing;
	.reduce-margins();
}

@margin: .5em;

.posts_container__post__date {
	display: inline-block;
	border-right   : 2px solid fade(@blue, 10%);
	padding-right  : @margin;
}

.posts_container__post__category {
	.show-desktop-inline-block();
	padding-left: @margin;
	border-right   : 2px solid fade(@blue, 10%);
	padding-right  : @margin;
}

.posts_container__post__tags {
	.show-desktop-inline-block();
	padding-left: @margin;
	// border-right   : 2px solid fade(@blue, 10%);
	// padding-right  : @margin;
}


.posts_container__post__tag {
	.tag(@pumpkin);
}

.posts_container__post__date_value {
	margin-left: @margin;
	display: inline-block;
}

.posts_container__post__category_value {
	margin-left: @margin;
	display: inline-block;
}

.posts_container__post__description {
	.show-desktop-block();
	font-family: @font-family;
	-dyn-font-size   : '@selectFrom(["1em","1.1em"])';
	font-weight: 300;
	line-height: 1.5em;
	margin-top: @title-subtitle-text-spacing;
	.reduce-margins();
}



.posts_container__post__description__text {
	width: 59%;
	vertical-align: top;
	margin-left: 1%;
	display: inline-block;
}

.posts_container__post__description__image {
	.border-box();
	display: inline-block;
	height: auto;
	width: 15%;
	display: inline-block;
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	background-color: white;
}

// 	                    __    _ __            __                    _       __  _           
// 	   ____ ___  ____  / /_  (_) /__     ____/ /__  _______________(_)___  / /_(_)___  ____ 
// 	  / __ `__ \/ __ \/ __ \/ / / _ \   / __  / _ \/ ___/ ___/ ___/ / __ \/ __/ / __ \/ __ \
// 	 / / / / / / /_/ / /_/ / / /  __/  / /_/ /  __(__  ) /__/ /  / / /_/ / /_/ / /_/ / / / /
// 	/_/ /_/ /_/\____/_.___/_/_/\___/   \__,_/\___/____/\___/_/  /_/ .___/\__/_/\____/_/ /_/ 
// 	                                                             /_/                        

@element-distance: 5px;
@date_desc_height: @element-distance*10;
@date_desc_space: 10px;
@title_desc_space: 2px;

.posts_container__post__description-mobile {
	.show-mobile-block();
	padding-top: @element-distance;
	border-bottom: @border;
	padding-bottom: @element-distance;
}

.posts_container__post__description-mobile__title {
	.reduce-margins();
	font-family: @display-family;
	font-weight: 500;
	margin-bottom: @title_desc_space;
	line-height: 1.4em;
}

.posts_container__post__description-mobile__small_date {
	width               : 15%;
	font-family         : @font-family;
	-dyn-font-size      : '@selectFrom(["1.5em","1.1em"])';
	font-weight         : 500;
	line-height         : @date_desc_height;
	height              : @date_desc_height;
	margin-left         : 5%;
	// padding          : .2em;
	border-radius       : 5px;
	// background-color : @pumpkin;
	color               : @pumpkin;
	text-align          : center;
	display             : inline-block;
}




.posts_container__post__description-mobile__small_description {
	width          : 75%;
	font-family    : @font-family;
	-dyn-font-size : '@selectFrom([".9em","1.1em"])';
	font-weight    : 300;
	line-height    : 1.5em;
	vertical-align : top;
	height         : @date_desc_height;
	padding-left   : @date_desc_space;
	display        : inline-block;
	overflow: hidden;
	.border-box();
	// margin-top: @title-subtitle-text-spacing;
}
