extends ./layouts/base 

block append title 
	title Vittorio Zaccaria — Research

block content
	div(block='research-container')
		div(block='bio')
			div(elem='title') Bio
			img(elem='picture', src='http://www.vittoriozaccaria.net/deposit/IMG_9201.JPG')
			div(block='bio-text', mod='size:medium')
				div(elem='title') Vittorio Zaccaria
				div(elem='position') Assistant professor
				div(elem='description')
					:markdown
						I am an assistant professor at Politecnico di Milano and I have worked in processor architecture 
						research and development for one of the top semiconductor companies in the world.

						I am currently interested in parallel and asynchronous programming, 
						with emphasis on parallelism exploitation, domain specific constructs
						graphical user interfaces and scripting languages for the web.

						Troughout the years at Politecnico, I discovered that I love teaching by making students 
						passionate about computer engineering. I like matching conventional methods for teaching with 
						novel technology such as live-coding, program simulation and information graphics.