
extends ./layouts/base 

block append title 
	title Vittorio Zaccaria — Teaching 

block content
	div(block='teaching-page')
		div(elem='title') Informatica B 
		div(elem='year') Anno accademico 2014 — 2015 
		div(block='contacts')
			div(elem='detail')
				div(elem='key') Docente
				div(elem='value') Vittorio Zaccaria
			div(elem='detail')
				div(elem='key') Ricevimento 
				div(elem='value') Martedì dalle 14:30 alle 16:30 
			div(elem='detail')
				div(elem='key') Ufficio
				div(elem='value') Piazza Leonardo da Vinci 32 - 20133 Milano
		div(block='lecture-messages') 
			div(elem='title') Avvisi importanti
			div(block='messages')

				div(block='message')
					div(elem='date') 27 Agosto 2014
					div(elem='text')
						:markdown
							Gli esami orali dell'appello del 1 Settembre 2014 si terranno **il giorno stesso**
							contestualmente alla correzione e valutazione del compito. 

				div(block='message')
					div(elem='date') 2 Luglio 2014
					div(elem='text')
						:markdown
							Le soluzioni del compito dell'appello sono disponibili a [questo indirizzo](#{baseUrl}/infob/2014/07/02/soluzioni-esame-appello-estivo-2014.html)



		div(block='lecture-material')
			div(elem='title') Calendario e materiale
			div(elem='description') 
				:markdown
					Cliccare sui giorni evidenziati in arancione per accedere al materiale corrispondente.

			#my-calendar(elem='calendar', calendar, start-month='September 2014', number-of-months='6', url="#{baseUrl}/data/index.json")


		script
			:coffee 
				angular.element(document).ready -> 
					$$('#my-calendar').filter = (arg) ->
						arg.category == 'infob'