
extends ./layouts/base 

block append title 
	title Vittorio Zaccaria — Teaching 

block content
	div(block='teaching-page')
		div(elem='title') Informatica B 
		div(elem='year') Anno accademico 2014 — 2015 
		div(block='contacts')
			div(elem='detail')
				div(elem='key') Docente
				div(elem='value') Vittorio Zaccaria
			div(elem='detail')
				div(elem='key') Ricevimento 
				div(elem='value') Martedì dalle 14:30 alle 16:30 (su appuntamento)
			div(elem='detail')
				div(elem='key') Ufficio
				div(elem='value') Piazza Leonardo da Vinci 32 - 20133 Milano
			div(elem='detail')
				div(elem='key') Orario lezioni
				div(elem='value') Martedí dalle 14:30 alle 16:00 (aula CT41), Venerdí dalle 8:50 alle 11:20 (Aula L01)
			div(elem='detail')
				div(elem='key') Sezione
				div(elem='value') Cognomi: F - Ma (soggetto a cambiamenti)


		div(block='lecture-messages') 
			div(elem='title') Avvisi importanti
			div(elem='messages')

				div(elem='message')
					div(elem='date') 6 Giugno 2015 
					div(elem='text')
						:markdown 
							# Valutazione della didattica
						
							Ho letto i vostri commenti riguardanti la didattica di questo corso.
							Alcuni di questi erano veementi, personali e polarizzati senza che ce ne
							fosse motivo.

							Evidentemente, al giorno d'oggi, l'anonimato è inteso come
							autorizzazione all'insulto o, peggio ancora, l'abuso verbale è l'unico
							modo in cui si sa argomentare. È un peccato, poichè in questo modo avete
							perso l'occasione per far valere, con professionalità, le vostre
							opinioni su come può essere migliorato il corso.  

							Ci sono ovvi motivi per cui dobbiamo rimanere professionali e
							rispettosi; l'università è un luogo aperto a nuove opinioni e differenti
							punti di vista e penso che chi la frequenta dovrebbe dare l'esempio in
							questo senso.   
							
							Soprattutto, ritengo che argomentare in maniera soggettiva, con evidenza
							volutamente incompleta e con tono da attacco non faccia parte del
							bagaglio culturale di un futuro ingegnere.

							
		div(block='lecture-material')
			div(elem='title') Calendario e materiale
			div(elem='description') 
				:markdown
					Cliccare sui giorni evidenziati in arancione per accedere al materiale corrispondente.

			#my-calendar(elem='calendar', calendar, start-month='September 2014', number-of-months='6', url="#{baseUrl}/data/index.json")
