
extends ./layouts/base 

block append title 
	title Vittorio Zaccaria — Teaching 

block content
	div(block='teaching-page')
		div(elem='title') Informatica B 
		div(elem='year') Anno accademico 2014 — 2015 
		div(block='contacts')
			div(elem='detail')
				div(elem='key') Docente
				div(elem='value') Vittorio Zaccaria
			div(elem='detail')
				div(elem='key') Ricevimento 
				div(elem='value') Martedì dalle 14:30 alle 16:30 (su appuntamento)
			div(elem='detail')
				div(elem='key') Ufficio
				div(elem='value') Piazza Leonardo da Vinci 32 - 20133 Milano
			div(elem='detail')
				div(elem='key') Orario lezioni
				div(elem='value') Martedí dalle 14:30 alle 16:00 (aula CT41), Venerdí dalle 8:50 alle 11:20 (Aula L01)
			div(elem='detail')
				div(elem='key') Sezione
				div(elem='value') Cognomi: F - Ma (soggetto a cambiamenti)


		div(block='lecture-messages') 
			div(elem='title') Avvisi importanti
			div(elem='messages')

				div(elem='message')
					div(elem='date') 9 Febbraio 2015 
					div(elem='text')
						:markdown 
							[I voti finali delle prove in itinere a questo indirizzo](infob/2015/02/09/voti-finali-delle-prove-in-itinere.html)


				div(elem='message')
					div(elem='date') 5 Febbraio 2015
					div(elem='text')
						:markdown 
							[Soluzioni seconda prova in itinere](infob/2015/02/05/soluzioni-seconda-prova-in-itinere.html)

				div(elem='message')
					div(elem='date') 30 Gennaio 2015
					div(elem='text')
						:markdown 
							* [Soluzioni degli esercizi](infob/2014/11/11/laboratorio-sul-c-e-tabelle-della-verita.html) dati al primo laboratorio sul C.
							* [Soluzioni degli esercizi](infob/2014/11/19/laboratorio-sul-c.html) dati al secondo laboratorio sul C.
							* [Soluzioni degli esercizi](infob/2014/12/18/primo-laboratorio-matlab.html) dati al primo laborario matlab.
							* [Soluzioni degli esercizi](infob/2015/01/30/laboratorio-su-matlab.html) dati negli ultimi laboratori di matlab.

				div(elem='message')
					div(elem='date') 7 Novembre 2014
					div(elem='text')
						:markdown
							Raccolta temi d'esame a grande richiesta
							* [Anno accademico '13/'14](https://dl.dropboxusercontent.com/u/5867765/slides-informatica-b/AA1314.zip)
							* [Anno accademico '12/'13](http://home.dei.polimi.it/loiacono/uploads/Teaching/InfoB/AA1213.zip)
							* [Anno accademico '11/'12](http://home.dei.polimi.it/loiacono/uploads/Teaching/InfoB/AA1112.zip)
							* [Anno accademico '10/'11](http://home.dei.polimi.it/loiacono/uploads/Teaching/InfoB/AA1011.zip)
							* [Anno accademico '09/'10](http://home.dei.polimi.it/loiacono/uploads/Teaching/InfoB/AA0910.zip)
							* [Anno accademico '08/'09](http://home.dei.polimi.it/loiacono/uploads/Teaching/InfoB/AA0809.zip)


				div(elem='message')
					div(elem='date') 13 Ottobre 2014
					div(elem='text')
						:markdown
							Informazioni [sull'organizzazione dei laboratori](infob/2014/10/13/organizzazione-laboratori.html).




		div(block='lecture-material')
			div(elem='title') Calendario e materiale
			div(elem='description') 
				:markdown
					Cliccare sui giorni evidenziati in arancione per accedere al materiale corrispondente.

			#my-calendar(elem='calendar', calendar, start-month='September 2014', number-of-months='6', url="#{baseUrl}/data/index.json")


