
extends ./layouts/base 

block append title 
	title Vittorio Zaccaria — Teaching 

block content
	div(block='teaching-page')
		div(elem='title') Informatica B 
		div(elem='year') Anno accademico 2014 — 2015 
		div(block='contacts')
			div(elem='detail')
				div(elem='key') Docente
				div(elem='value') Vittorio Zaccaria
			div(elem='detail')
				div(elem='key') Ricevimento 
				div(elem='value') Martedì dalle 14:30 alle 16:30 (su appuntamento)
			div(elem='detail')
				div(elem='key') Ufficio
				div(elem='value') Piazza Leonardo da Vinci 32 - 20133 Milano
			div(elem='detail')
				div(elem='key') Orario lezioni
				div(elem='value') Martedí dalle 14:30 alle 16:00 (aula CT41), Venerdí dalle 8:50 alle 11:20 (Aula L01)
			div(elem='detail')
				div(elem='key') Sezione
				div(elem='value') Cognomi: F - Ma (soggetto a cambiamenti)


		div(block='lecture-messages') 
			div(elem='title') Avvisi importanti
			div(elem='messages')

				div(elem='message')
					div(elem='date') 24 Ottobre 2014
					div(elem='text')
						:markdown
							Recupero ore perse per sciopero: 

							* Martedi 28 Ottobre: la lezione in CT41 inizierà alle 13:30 invece che alle 14:30
							* Martedi 4 Novembre: la lezione in CT41 inizierà alle 13:30 invece che alle 14:30
							* Martedi 18 Novembre: la lezione in CT41 inizierà alle 13:30 invece che alle 14:30

				div(elem='message')
					div(elem='date') 21 Ottobre 2014
					div(elem='text')
						:markdown
							A causa dello sciopero generale, la lezione di venerdi 24 Ottobre 2014 è sospesa. 
							Le tre ore verranno recuperate in data da comunicarsi.


					div(elem='date') 13 Ottobre 2014
					div(elem='text')
						:markdown
							Informazioni [sull'organizzazione dei laboratori](infob/2014/10/13/organizzazione-laboratori.html).




		div(block='lecture-material')
			div(elem='title') Calendario e materiale
			div(elem='description') 
				:markdown
					Cliccare sui giorni evidenziati in arancione per accedere al materiale corrispondente.

			#my-calendar(elem='calendar', calendar, start-month='September 2014', number-of-months='6', url="#{baseUrl}/data/index.json")

		div.only-desktop(block='lecture-material', ng-controller='pageController')
			div(elem='title') Altro materiale ed esercizi
			table(ng-table="tableParams", class="ui segment small table", block='table')
				tr(ng-repeat="tema in $data", elem="row")
					td(elem="cell_title", data-title="'Title'") 
						a(ng-href='{{tema.link}}') {{ tema.title }}
					td(elem="cell_date", data-title="'Date'") 	{{ tema.date | date: 'mediumDate' }}
					td(elem="cell_tags", data-title="'Tags'") 	
						span(elem="cell_tag", ng-repeat="t in tema.tags") {{ t }}
		div(block='well')
		script
			:coffee 
