doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='Content-Style-Type', content='text/css')
    meta(name='generator', content='pandoc')
    title
    | <style type='text/css'>
    include ../static/css/client.css
    | </style>
  body
    include ../static/html/cv.html
    include:md ../static/html/pub.md
